<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Informació</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="animated-bg">

<div class="card-home-modern">

    <h1 class="title-modern">Informació</h1>

    <div class="info-modern">
        <p><b>Nom:</b> {{ data.nom }}</p>
        <p><b>Primer cognom:</b> {{ data.primer_cognom }}</p>
        <p><b>Segon cognom:</b> {{ data.segon_cognom }}</p>
        <p><b>Edat:</b> {{ data.edat }}</p>
        <p><b>Gènere:</b> {{ data.genere }}</p>        
        <!--<p><b>Telèfon emergència:</b> {{ data.telefon_emergencia }}</p>
        <p><b>Telèfon opcional:</b> {{ data.telefon_opcional }}</p>
        <p><b>Adreça:</b> {{ data.adreça }}</p>
        <p><b>Grup sanguini:</b> {{ data.grup_sanguini }}</p>
        b>Condicions mèdiques:</b> {{ data.condicions_mediques }}</p>-->
    </div>

    <a href="/" class="btn-modern secondary-modern">Tornar</a>

</div>

</body>
</html>
