<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Informació</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="animated-bg">

<div class="card-home-modern">

    <h1 class="title-modern">Informació</h1>

    <div class="info-modern">
        <p><b>Nom:</b> {{ data.name }}</p>
        <p><b>Matrícula:</b> {{ data.vehicle }}</p>
        <p><b>Gènere:</b> {{ data.gender }}</p>
        <p><b>Telèfon emergència:</b> {{ data.emergency_phone }}</p>
        <p><b>Telèfon opcional:</b> {{ data.optional_phone }}</p>
        <p><b>Adreça:</b> {{ data.address }}</p>
        <p><b>Grup sanguini:</b> {{ data.blood }}</p>
        <p><b>Condicions mèdiques:</b> {{ data.medical }}</p>
    </div>

    <a href="/" class="btn-modern secondary-modern">Tornar</a>

</div>

</body>
</html>
