<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Emergency QR</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="home-bg">

<div class="card-home">

    <h1 class="title">Emergency QR</h1>

    <p class="intro">
        Emergency QR és una eina pensada per a situacions d’emergència.  
        Els cossos de seguretat poden registrar les dades d’una persona quan entra a un espai i generar-li una polsera amb un codi QR únic.  
        En cas d’incident —com ara un menor perdut, una persona desorientada o algú que necessita medicació urgent— el QR permet accedir ràpidament a la seva informació essencial.  
        Una solució ràpida, segura i preparada per moments crítics.
    </p>

    <div class="button-group">
        <a href="/register" class="btn primary">Registrar persona</a>
        <a href="/scan" class="btn secondary">Escanejar QR</a>
    </div>

</div>

</body>
</html>