<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Registrar persona</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="animated-bg">

<div class="card-home-modern">

    <h1 class="title-modern">Registrar persona</h1>

    <form method="POST" class="form-modern">

        <div class="field-modern">
            <img src="/static/img/user.png" class="icon-field">
            <input name="nom" placeholder="Nom" required>
        </div>

        <div class="field-modern">
            <img src="/static/img/user.png" class="icon-field">
            <input name="primer_cognom" placeholder="Primer cognom" required>
        </div>

        <div class="field-modern">
            <img src="/static/img/user.png" class="icon-field">
            <input name="segon_cognom" placeholder="Segon cognom" required>
        </div>

        <div class="field-modern">
            <img src="/static/img/car.png" class="icon-field">
            <input name="edat" placeholder="Edat">
        </div>

        <div class="field-modern">
            <img src="/static/img/user.png" class="icon-field">
            <select name="genere">
                <option>Home</option>
                <option>Dona</option>
            </select>
        </div>

        <div class="field-modern">
            <img src="/static/img/phone.png" class="icon-field">
            <input name="telefon_emergencia" placeholder="Telèfon d'emergència" required>
        </div>

        <div class="field-modern">
            <img src="/static/img/phone.png" class="icon-field">
            <input name="telefon_opcional" placeholder="Telèfon opcional">
        </div>

        <div class="field-modern">
            <img src="/static/img/address.png" class="icon-field">
            <textarea name="adreça" placeholder="Adreça" required></textarea>
        </div>

        <div class="field-modern">
            <img src="/static/img/blood.png" class="icon-field">
            <select name="grup_sanguini" placeholder="Grup sanguini">
                <option>A+</option>
                <option>A-</option>
            </select>
        </div>

        <div class="field-modern">
            <img src="/static/img/medical.png" class="icon-field">
            <textarea name="condicions" placeholder="Condicions mèdiques"></textarea>
        </div>

        <button type="submit" class="btn-modern primary-modern">Registrar persona</button>
    </form>

    <button class="btn-modern secondary-modern"><a href="/">Tornar</a></button>

</div>

</body>
</html>
