<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Cercar persona</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="animated-bg">

<div class="card-home-modern">

    <h1 class="title-modern">Cercar persona</h1>

    <form method="GET" action="/search" class="search-bar-modern">
        <input type="text" 
               name="carca_persona" 
               placeholder="nom, cognoms, edat, gènere..." 
               value="{{ cerca_persona | default('') }}">
        <button class="btn-modern primary-modern">Buscar</button>
    </form>

    <div class="grid-modern">
        {% for person in people %}
        <div class="card-person-modern">
            <img src="{{ person.get('photo_url', '') }}" class="photo-modern">

            <div class="info-person-modern">
                <h3>{{ person.get('nom', '') }}</h3>
            </div>

            <a href="/detail/{{ person.get('id') }}" class="btn-modern secondary-modern">
                Veure fitxa
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="button-group">
        <a href="/" class="btn-modern secondary-modern">Tornar</a>
    </div>

</div>

</body>
</html>