<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Cercar persona</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="animated-bg">

<div class="card-home-modern">

    <h1 class="title-modern">Cercar persona</h1>

    <p class="intro-modern">
        Cerca una persona registrada mitjançant el buscador o revisant les targetes.
    </p>

    <form method="GET" action="/search_person" class="search-bar-modern">
        <input type="text" name="cercador_persona" placeholder="nom, primer_cognom, segon_cognom, edat, gènere..." value="{{ request.args.get('cercador_persona', '') }}">
        <button class="btn-modern primary-modern">Buscar</button>
    </form>

    <div class="button-group">

        <a href="/" class="btn-modern secondary-modern">
            Tornar
        </a>

    </div>

</div>

</body>
</html>
