<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Cercar persona</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="page-wrapper">

    <h1 class="title">Cercar persona</h1>

    <form method="GET" action="/search" class="search-bar-modern">
        <input type="text" 
               name="cerca_persona" 
               placeholder="nom, cognoms, edat, gènere..."
               value="{{ cerca_persona }}">
        <button class="btn-modern">Buscar</button>
    </form>

    <div class="grid-modern">
        {% for person in people %}
        <div class="card-person-modern">

            <img src="/static/img/user.png" class="photo-modern">

            <a href="/detail/{{ person.get('id') }}">
                <div class="info-person-modern">
                    <h3>{{ person.get('nom', '') }}</h3>
                    <!--<p><b>Primer cognom:</b> {{ person.get('primer_cognom', '') }}</p>
                    <p><b>Segon cognom:</b> {{ person.get('segon_cognom', '') }}</p>
                    <p><b>Edat:</b> {{ person.get('edat', '') }}</p>
                    <p><b>Gènere:</b> {{ person.get('genere', '') }}</p>-->
                </div>
            </a>

        </div>
        {% endfor %}
    </div>

    <div class="button-group">
        <a href="/register" class="btn-modern">Registrar persona</a>
        <a href="/" class="btn-modern">Pàgina principal</a>
    </div>

</div>
</body>
</html>